language: java
sudo: false
jdk:
  - oraclejdk8

branches:
  only:
    - master

services:
  - mysql

before_install:
  - mysql -u root -e 'CREATE DATABASE dos;'
  - mysql -u root -e "CREATE USER 'dos'@'localhost' IDENTIFIED BY 'dos';"
  - mysql -u root -e "GRANT ALL ON dos.* TO 'makler'@'localhost';"
  

script:
  - mvn test
